<!DOCTYPE html>
<html>
<head>
    <title>Chirp - @ViewBag.Title</title>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div id="sidebar">
        @if (User.Identity.IsAuthenticated)
        {
            <img class="profilepicture" src="~/img/prof.jpg" alt="Profile Picture" />
            <span id="username">
                <a asp-controller="App" asp-action="Users" asp-route-id="@User.Identity.Name">
                    @User.Identity.Name
                </a>
                <a asp-controller="App" asp-action="MyAccount">
                    <i class="fa fa-cog"></i>
                </a>
            </span>
        }

        <ul class="nav">
            <li class="active"><a asp-controller="App" asp-action="Index">Home</a></li>
            <li><a asp-controller="App" asp-action="About">About</a></li>
            <li><a asp-controller="App" asp-action="Contact">Contact</a></li>
            @if (User.Identity.IsAuthenticated)
            {
                <li><a asp-controller="Auth" asp-action="Logout">Logout</a></li>
            }
        </ul>
    </div>

    <div id="wrapper" class="container-fluid">
        <div id="main">
            <div>
                @RenderBody()
            </div>
        </div>
    </div>
    @RenderSection("Scripts", false)
</body>
</html>